
<app-header></app-header>
<h2>Delivered Products - Feedback</h2>
<div class="product-card">
<div *ngFor="let product of deliveredProducts" class="product-card1">
   <img [src]="'http://localhost:8080/products/'+ product.id + '.jpg'" alt="Product Image" width="50"/>
  <h3>{{ product.name }}</h3>
  <p>{{ product.description }}</p>
  <p><strong>Price:</strong> ₹{{ product.price }}</p>
  <button (click)="openFeedbackForm(product.id)">Give Feedback</button>
</div>
</div>
<!-- Feedback Form -->
<!-- Feedback Modal -->
<div *ngIf="showForm" class="modal-overlay" (click)="closeForm()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <h4>Give Feedback for Product ID: {{ selectedProductId }}</h4>
    <form [formGroup]="feedbackForm" (ngSubmit)="submitFeedback()">
      <label>Rating:</label>
      <input type="number" formControlName="rating" min="1" max="5" required />

      <label>Description:</label>
      <textarea formControlName="description" required></textarea>

      <div class="modal-buttons">
        <button type="submit">Submit</button>
        <button type="button" (click)="closeForm()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<app-footer></app-footer>