<app-admin-header></app-admin-header><pre>

    
</pre><div class="login-container">
    <h2>Admin Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label>Email</label>
      <input formControlName="email" type="email" />
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">Valid email required</div>
  
      <label>Password</label>
      <input formControlName="password" type="password" />
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">Password required</div>
  
      <button type="submit" [disabled]="loginForm.invalid">Login</button>
  
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </form>
  </div>
  <pre>


  </pre>
  <app-footer></app-footer>