  .top-bar {
  background-color: #2c2c2c;
  color: #fff;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.avatar{
  max-width: 50px;
  align-self: center;;
  overflow: hidden;
}
.top-bar a {
  color: #fff;
  margin: 0 5px;
  text-decoration: none;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 20px;
  background-color: #fff;
  border-bottom: 1px solid #e5e5e5;
}

.logo img {
  height: 40px;
}

.main-nav .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu1{
 display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  position: relative;
  margin: 0 15px;
}
.menu1 li {
  position: relative;
  margin: 0 15px;
}
.menu li a {
  text-decoration: none;
  font-weight: bold;
  color: #333;
  padding: 10px;
  display: block;
}

.menu li:hover > a {
  color: #d10024;
}

.has-mega-menu:hover .mega-menu {
  display: flex;
}

.mega-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 700px;
  display: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  justify-content: space-around;
}
.has-mega-menu:hover .mega-menu1 {
  display: flex;
}

.mega-menu1 {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: auto;
  display: none;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 999;
  justify-content: space-around;
  overflow: hidden;
}


.mega-menu div {
  flex: 1;
}

.mega-menu h4 {
  font-size: 16px;
  margin-bottom: 10px;
  border-bottom: 2px solid #000;
  display: inline-block;
}

.mega-menu a {
  display: block;
  padding: 4px 0;
  color: #444;
  text-decoration: none;
  font-size: 14px;
}

.search-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-cart input {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.search-cart i,
.currency,
.cart {
  cursor: pointer;
  color: #333;
}

.cart sup {
  color: red;
}
