<app-header></app-header>

<div class="cart-page">
  <!-- Product List Section -->
  <div class="cart-container">
    <div>
    <h2 class="cart-title">Shopping Bag</h2>
    <p class="cart-subtitle">{{ items.length }} items in your bag.</p>
    <h3>Cart Total</h3>
    <div class="summary">
      <div><span>Cart Subtotal:</span><span>₹{{ total }}</span></div>
      <div><span>Shipping:</span><span>Free</span></div>
      <div class="total"><span>Grand Total:</span><span>₹{{ total }}</span></div>
    </div>
    <button class="checkout-btn" (click)="goToCheckout()">Proceed to Checkout</button>
    </div>
    <div> <hr><h2 class="cart-title">Have a Cupon ?</h2>
      <p class="cart-subtitle">Enter the Coupon Code here.</p>
       <div class="couponCodeForm">
        <input type="text" placeholder="XXXXXXX" />
        <button>Apply</button>
      </div>

    </div>
  </div>

  <div class="checkout-section">
    <h2>Checkout</h2>
    <form [formGroup]="form" (ngSubmit)="placeOrder()" class="checkout-form">
      <div class="form-row">
        <div>
          <label for="firstName">First Name</label>
          <input formControlName="firstName" id="firstName" placeholder="John">
          <small *ngIf="form.get('firstName')?.touched && form.get('firstName')?.invalid" class="error"> Only letters are allowed and this field is required.</small>
        </div>
        <div>
          <label for="lastName">Last Name</label>
          <input formControlName="lastName" id="lastName" placeholder="Doe">
          <small *ngIf="form.get('lastName')?.touched && form.get('lastName')?.invalid" class="error"> Only letters are allowed and this field is required.</small>
        </div>
      </div>

      <label for="email">Email</label>
      <input formControlName="email" id="email" placeholder="john@example.com">
      <small *ngIf="form.get('email')?.touched && form.get('email')?.invalid" class="error">
        Valid email is required
      </small>

      <label for="phone">Phone Number</label>
      <input formControlName="phone" id="phone" placeholder="9876543210">
      <small *ngIf="form.get('phone')?.touched && form.get('phone')?.invalid" class="error">Phone number is required And Enter a 10-digit phone number.</small>

      <label for="address1">Address Line 1</label>
      <input formControlName="address1" id="address1" placeholder="123 Main St">
      <small *ngIf="form.get('address1')?.touched && form.get('address1')?.invalid" class="error">Address is required </small>

      <label for="address2">Address Line 2</label>
      <input formControlName="address2" id="address2" placeholder="Apt, Suite, etc.">

      <div class="form-row">
        <div>
          <label for="city">City</label>
          <input formControlName="city" id="city">
          <small *ngIf="form.get('city')?.touched && form.get('city')?.invalid" class="error">City is required</small>
        </div>
        <div>
          <label for="state">State</label>
          <input formControlName="state" id="state">
          <small *ngIf="form.get('state')?.touched && form.get('state')?.invalid" class="error">State is required</small>
        </div>
      </div>

      <div class="form-row">
        <div>
          <label for="zipCode">ZIP Code</label>
          <input formControlName="zipCode" id="zipCode">
          <small *ngIf="form.get('zipCode')?.touched && form.get('zipCode')?.invalid" class="error"> Enter a valid 6-digit ZIP code.</small>
        </div>
        <div>
          <label for="country">Country</label>
          <input formControlName="country" id="country" placeholder="India">
          <small *ngIf="form.get('country')?.touched && form.get('country')?.invalid" class="error">Country is required</small>
        </div>
      </div>

      <label for="paymentMethod">Payment Method</label>
      <select formControlName="paymentMethod" id="paymentMethod">
        <option value="CASH_ON_DELIVERY">Cash on Delivery</option>
        <option value="UPI">UPI</option>
        <option value="CARD">Credit/Debit Card</option>
      </select>

      <button type="submit">Place Order</button>
    </form>
  </div>
</div>

<app-footer></app-footer>
