<app-admin-header></app-admin-header><div class="product-list">
    <h2>Manage Products</h2>
  
    <table>
      <thead>
        <tr>
          <th>Image</th>
          <th>Name</th>
          <th>Price (₹)</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let p of products">
   <img [src]="'http://localhost:8080/products/'+ p.id + '.jpg'" alt="Product Image"/>
          <td>{{ p.name }}</td>
          <td>{{ p.price }}</td>
          <td>
            <span [ngClass]="{ active: p.active, inactive: !p.active }">
              {{ p.active ? 'Active' : 'Inactive' }}
            </span>
          </td>
          <td>
            <button (click)="toggleStatus(p.id)">Toggle</button>
            <button (click)="editProduct(p.id)">Edit</button>
            <button (click)="deleteProduct(p.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <p *ngIf="error" class="error">{{ error }}</p>
  </div>
  <app-footer></app-footer>