
.hero-img-sect4 {
  max-width: 450px;  /* desktop default */
  width: 100%;       /* keep it responsive */
  height: auto;
}

/* Media Query for tablets */
@media screen and (max-width: 768px) {
  .hero-img-sect4 {
    max-width: 300px;
  }
}

/* Media Query for mobile */
@media screen and (max-width: 480px) {
  .hero-img-sect4 {
    max-width: 200px;
    height: 20px !important;
  }
}
