<app-header></app-header>
<section class="hero-vshape">
  <div class="overlay">
    <div class="hero-content">
      <h1>About</h1>
      <nav class="breadcrumb">
        <a href="#">Home</a> <span>›</span> <span>About</span>
      </nav>
    </div>
  </div>
</section>

<div class="cart-page">
  <!-- Product List Section -->
  <div class="cart-container">
    <h2 class="cart-title">Shopping Bag</h2>
   <!-- Button to clear entire cart -->
<button (click)="clearCart()" class="remove-button">Clear Cart</button>
    <p class="cart-subtitle">{{ items.length }} items in your bag.</p>

    <div *ngFor="let item of items">
      <app-cart-item
        [item]="item"
        (remove)="remove($event)"
        (quantityChange)="change($event)"
      ></app-cart-item>
    </div>
  </div>

  <!-- Checkout Summary Section -->
  <div class="checkout-section">
    <h3>Cart Total</h3>
    <div class="summary">
      <div><span>Cart Subtotal:</span><span>₹{{ total }}</span></div>
      <div><span>Shipping:</span><span>Free</span></div>
      <div class="total"><span>Grand Total:</span><span>₹{{ total }}</span></div>
    </div>
    <button class="checkout-btn" (click)="goToCheckout()">Proceed to Checkout</button>
  </div>
</div>
<pre>
  
</pre>
<app-footer></app-footer>
