<header class="header">
    <h1>Ecart</h1>
    <nav>
        <a class="btn" routerLink="/admin/admin-login">Admin Login</a>
        <a class="btn" routerLink="/admin/dashboard">Dashboard</a>
        <a class="btn" routerLink="/admin/products/add">Add Product</a>
        <a class="btn" routerLink="/admin/products">View Products</a>
        <a class="btn" routerLink="/admin/orders">View Orders</a>
        <a class="btn" routerLink="/admin/customers">View Customers</a>
        <a class="btn" routerLink="/admin/feedbacks">View Feedbacks</a>
        <button class="btn" (click)="logout()">Logout</button>
    </nav>
</header>