/* :root {
  --primary-color: #4a90e2;
  --secondary-color: #50e3c2;
  --accent-color: #f5a623;
  --bg-color: #f9f9f9;
  --text-color: #333;
  --header-bg: #1f2d3d;
  --header-text: #ffffff;
  --error-color: #e74c3c;
  --success-color: #2ecc71;
  --shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
  --input-bg: #f4f4f4;
  --card-bg: #fff;
  --label-color: #555;
  --primary-dark-color: #3b6fb2;
}

 */
:root {
  --primary-color: #c5a159;       /* Metallic Gold */
  --accent-color: #d9b24c;        /* Warm Gold */
  --text-color: #3d3d3d;          /* Dark Gray */
  --color-dark: #000000;          /* Ivory background */
  --color-light: #ffffff;         /* White content backgrounds */
  --color-border: #e0d9c8;        /* Subtle border */
  --color-error: #d9534f;         /* Bootstrap Red */
  --shadow: 0 6px 18px rgba(197, 161, 89, 0.15);
  --font: 'Poppins', sans-serif;


  
  /* supportive */
  --color-primary:#c5a159;
  --error-color:red;

}
body{
  margin: 0;
  padding: 0;
}